body {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dark-mode-toggle {
    display: none;
}
.toggle-label {
    background-color: #ccc;
    border-radius: 1500px;
    cursor: pointer;
    position: fixed;
    top: 250px;
}
.text {
    position: absolute;
    bottom: 800px;
}
#dark-mode-toggle:checked + .toggle-label {
    background-color: #555;
    color: white;
}
body.dark-mode {
    background-color: black;
    color: white;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transform-origin: top center;
    transform: scale(0.75);
    bottom: 350px;
}